 <html xmlns:th="http://www.thymeleaf.org">
 <body onload="makeActive('list')">
 <div th:insert="navbar"></div>
 <div class='container'>
  <div class='card mx-auto'>
   <div class='card-body'>
     <table class='table table-hover las'>
      <thead>
       <tr>
        <th>Customer id</th><th>First name</th><th>Last name</th>
        <th>Address</th><th>Phone number</th><th>Email id</th>
        <th style='color:orange'>Action</th>
       </tr>
      </thead>
      <tbody>
        <tr th:each="cust:${clist}">
         <td th:text="${cust.cid}"></td>
         <td th:text="${cust.firstname}"></td>
         <td th:text="${cust.lastname}"></td>
         <td th:text="${cust.address}"></td>
         <td th:text="${cust.phone}"></td>
         <td th:text="${cust.email}"></td>
      
        </tr>
      </tbody>
      </table>
     </div>
	 <div class='card-footer'>
		<table style="width: 100%;">
			<tr>
				<td style="width: 40%;">
					<label style="color: teal; font-size: 1vw;" th:text="${pn+' of '+tp}"></label>
				</td>
				<td>
					<a th:if="${pn>5}" class="lk" th:href="@{list(pn = ${pn+1})}">Prev</a>
					<a th:if="${tp <= 5}" th:class="${pn == i ? 'lka' : 'lk'}" th:href="@{list(pn=${i})}"  th:each="i:${#numbers.sequence(1,tp,1)}" th:text="${i}"/>
					<a th:if="${tp > 5}" th:class="${pn == i ? 'lka' : 'lk'}" th:href="@{list(pn=${i})}"  th:each="i:${#numbers.sequence(1,2,1)}" th:text="${i}"/>
					<label th:if="${tp > 5}"> . . . </label>
					<a th:if="${tp > 5}" class="lk" th:href="${list(pn=${pn+1})}">Next</a>
				</td>
			</tr>
		</table>
	 </div>
   </div>
  </div>
</body>
</html>