 <html xmlns:th="http://www.thymeleaf.org">
 <body onload="makeActive('list')">
 <div th:insert="navbar"></div>
 <div class='container'>
  <div class='card mx-auto'>
   <div class='card-body'>
     <table class='table table-hover las'>
      <thead>
       <tr>
        <th>Customer id</th><th>First name</th><th>Last name</th>
        <th>Address</th><th>Phone number</th><th>Email id</th>
        <th style='color:orange'>Action</th>
       </tr>
      </thead>
      <tbody>
        <tr th:each="cust:${clist2}">
         <td th:text="${cust.cid}"></td>
         <td th:text="${cust.firstname}"></td>
         <td th:text="${cust.lastname}"></td>
         <td th:text="${cust.address}"></td>
         <td th:text="${cust.phone}"></td>
         <td th:text="${cust.email}"></td>
         <td>
          <a class='las' th:href='@{edit-record(cid=${cust.cid})}'>Edit |</a>
          <a class='las' th:href='@{delete-record(cid=${cust.cid})}' onclick='return confirm("Are you sure to delete?")'>Delete</a>
         </td>
        </tr>
      </tbody>
      </table>
     </div>
   </div>
  </div>
</body>
</html>