<hibernate-configuration>  
    <session-factory>  
        <property name="hbm2ddl.auto">update</property>  
        <property name="show_sql">true</property>  
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>  
        <property name="connection.url">jdbc:mysql://localhost/hibernate12</property>  
        <property name="connection.username">root</property>  
        <property name="connection.password">nikunj123</property>  
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>  
	    <mapping class ="com.cetpa.Person"/>  
	    <mapping class ="com.cetpa.SimCard"/>  
    </session-factory>  
</hibernate-configuration>  